.ignore/
.env
.vscode
.venv/
__pycache__/
samples/
samples/references/*.yuv
samples/anchors/*/*.log
samples/anchors/*/*.yuv
samples/anchors/*/*.bit
samples/anchors/*/*.csv
samples/anchors/*/*.json
samples/anchors/*/*.md5